.playlog_notes_detail span
{
    display: none;
}
.playlog_notes_detail td>span
{
    font-size: 7px;
}
.playlog_notes_detail td>span:not(.break_detail)
{
    color: red;
}
.playlog_notes_detail.display_detail tr:not(:first-child) th
{
    font-size: 8px;
    line-height: 0.7rem;
}
.playlog_notes_detail.display_detail tr:not(:first-child) td
{
    vertical-align: top;
}
.playlog_notes_detail.display_detail span
{
    display: block;
}